version: "3"


services:

  # frontend:
  #     container_name: gnmi_frontend
  #     build: ../gnmi_client
  #     restart: unless-stopped
  #     volumes:
  #       - ../gnmi_client:/app
  #     ports:
  #       - "5173:5173"

  # backend:
  #   container_name: gnmi_backend
  #   build: ../gnmi_server
  #   env_file:
  #     - ../gnmi_server/.env
  #   volumes:
  #     - ../gnmi_server:/app
  #   ports:
  #     - "8080:8080"
  #   restart: unless-stopped

  # postgres:
  #   container_name: gnmi
  #   image: postgres:15.3-alpine 
  #   ports:
  #     - "5433:5432"
  #   env_file:
  #     - ../gnmi_server/.development.env
  #   volumes:
  #     - ~/postgres:/var/lib/postgresql/data
  #   restart: unless-stopped
  #   networks:
  #     - space


# Мониторинг
  prometheus:
    image: prom/prometheus:v2.54.1
    volumes:
      - ../prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    volumes:
      - ../grafana/provisioning/:/etc/grafana/provisioning/
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_USER: arista
      GF_SECURITY_ADMIN_PASSWORD: arista
      GF_SECURITY_ALLOW_EMBEDDING: true



